<div class="container ">
  <div class="row footer_first justify-content-center" routerLink="/home">
    <div class="col-md-12 main1">
      <img src="assets/images/company logo.jpeg" alt="">
    </div>
    <div class="col-md-12 main2">VINAYAGAM WORK SHOP</div>
  </div>
  <hr>
  <div class="row fotter_four">
    <div class="col-md-3 fotter_one">
      <div class="main_head">CONTACTS</div>

      <ul>
        <li>Vinnayagam@gmail.com</li>
        <li>+91 9626744392</li>
        <li>Emmaper </li>
        <li>kallakuruchi,TamilNadu</li>
      </ul>

    </div>
    <div class="col-md-3 fotter_two">
      <div class="main_head">NAVIGATION</div>
      <ul>
        <li routerLink="/services">Services</li>
        <li routerLink="/book-services">Book service</li>
        <li routerLink="/about-us">About</li>

      </ul>
    </div>
    <div class="col-md-3 fotter_three">
      <div class="main_head">social</div>
      <ul>
        <li>instagram</li>
        <li>facebook</li>
        <li>whatsapp</li>
        <li>twitter</li>
      </ul>
    </div>

  </div>
</div>