<div class="container-fluid contact_page">
    <div class="row contact_ro1">

        <div class="col-sm-12 contact_co1">
            <div class="con_txt">
                We Are VINNAYAGA Auto Works <br>
                is an Tamilnadu multinational motorcycle service company headquartered in kallakuruchi. The Vinayak
                brand, is the oldest global motorcycle in continuous services.
            </div>
        </div>

        <div class="col-5 contact_co2">
            <video controls loop autoplay>
                <source src="../../../assets/shopImages/aboutvideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="col-7 contact_co3">
            <div class="con_para_txt">

                Vinayak arrumugam was an Indian two wheeler mechanic industrialist who founded the vinayak auto works,
                kallakuruchi
                biggest auto work services. he was start the company at 1980 ,53 years clasic services
            </div>

            <div class="con_para_txt">

                Vinayak arrives in kallakuruch is a ten-year-old on a quest for power (as vinayk understood that money
                comes
                from power and powerful people come from powerful places),that the reson vinayak start the service
                company in the power full place kallakuruchi and he is a power full people and wealth as desired by his
                dying mother (by
                lung cancer at the age of 25)
            </div>

        </div>

        <div class="col-12 contact_4"> what we are about </div>

        <div class="col-6 contact_co5">
            <div class="inn_txt11">
                <h2>Accomplishment</h2>
                <p>
                    The Interceptor 650 wins the prestigious kallakuruchi motorcycle of the Year award. The 650 twin is
                    also
                    named Bike of the Year in the Times Auto Awards.
                </p>
            </div>
        </div>
        <div class="col-6 contact_co5">
            <div class="inn_txt11">
                <h2>Accomplishment</h2>
                <p>
                    successfull servicer of the Year by Autocar and Two Wheeler
                    of the Year by Bike India., vinayak auto service is the only quick response for custumers side .
                </p>
            </div>
        </div>

        <div class="col-12 contact_co6">
            <div class="inn_con_last">
                <div class="head_txt">community</div>
                <div class="para_text">
                    Various motorcycle-specific forums exist, catering to different brands and models. One such example
                    is advrider.com, which is a large adventure motorcycling community. These forums typically have
                    sections dedicated to maintenance and repair discussions, where mechanics and enthusiasts share
                    their expertise.
                </div>

            </div>
        </div>

    </div>

    <div class="row contact_ro2">

        <div class="col-12 found_txt">Meet the founders</div>


        <div class="col-3 con_new4">

            <img src="../../../assets/shopImages/shopowner.jpeg" alt="">
            <div class="img_txt">VINAYAGAM <br>
                Owner </div>

        </div>

        <div class="col-3 con_new4">

            <img src="../../../assets/shopImages/hariimages.jpeg" alt="">
            <div class="img_txt">HARIKARAN<br>
                Worker</div>

        </div>


    </div>

    <div class="row last_rho1">
        <div class="col-6 last_col1">
            <div class="sm_txt">our workshop</div>
            <div class="md_txt">Our Vinayak workshop in kallakuruchi</div>
            <div class="par_txt">kallakuruchi,emmaper bus stop oposite salem main road ,Tamilnadu </div>
        </div>
        <div class="col-6 last_col2">
            <img src="../../../assets/shopImages/engineservice.jpeg" alt="">
            <div class="fiest">
                We’d Love to Work With You</div>
            <div class="second">

                your intrested to work or mechanical students workshop and 6 month intenship provided complete to get
                certrified mechanic.

            </div>
            <div class="third">
                explore opurtunities
            </div>
        </div>
    </div>

</div>